*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1543191879-742cb35a3a4e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 70px);
    width: 100%;
}

div{
    text-align: center;
    width: 650px;
    height: 500px;
    margin:0 auto;
    margin-top: 70px;
    background-color: rgb(233, 219, 193);
    border-radius: 8px;
    padding: 40px 20px;
}
h2{
    margin: 18px;
}
p{
    margin-bottom: 20px;
}
h4{
    
}